body{
background: #479e5e;
}

#welcome{
color: white;
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 2rem;
text-align: center;
font-size: 4rem;
font-weight: bold;
}

#albums{
display: block;
margin: auto;
text-align: center;
}